.block {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.pageBtn {
    width: 24px;
    height: 24px;

    border-radius: 3px;
    border: 0;
    
    cursor: pointer;
}

.currentPageBtn {
    background-color: orangered;
    color: #fff;
}